<div class="share sticky-top sticky-top-offset">
    <p>
        Support
    </p>
    <ul>
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.buymeacoffee.com/tintedtech">
                <i class="fas fa-coffee fa-lg" style="color: #000000;"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://github.com/imjustablacknerd">
                <i class="fab fa-github fa-lg" style="color: #000000;"></i>
            </a>
        </li>

    </ul>
    {% if page.comments != false %}
    <ul>
        <li>
        <a class="small smoothscroll" href="#disqus_thread"></a>
        </li>
    </ul>
    {% endif %}
</div>
